server:
  port: 8091
spring:
  application:
    name: catalog-management
eureka:
  instance:
    preferIpAddress: true
    leaseRenewalIntervalInSeconds: 5
    metadataMap:
      instanceId: "${spring.application.name}:${random.value}"

security:
#  basic:
#    enabled: false
  oauth2:
    resource:
      userInfoUri: http://localhost:8099/api/clientinfo

hystrix:
  command:
    play:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 1000
